*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
KhaddaApp/build/
KhaddaApp/.gradle/
KhaddaApp/app/build/

# Large files and datasets
*.zip
venv/
*.pt
*.onnx
Pothole_Dataset/
*.pdf
*.docx
